.container {
  background-color: #8c9cac;
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  padding: 20px;
}
@media(min-width: 500px) {
.left-column{
  float: left;
  width: 25%;
  padding-right: 100px;
}
.right-column{
    width: 75%;
    float: right;
    padding-left: 20px;
  }
body {
  background-color: #6d7a87;
}
.left-column p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}
.author{
  font-size: 17px;
  font-weight: bold;
}
.left-column p:nth-child(2){
  font-style: italic;
}
.caption {
  font-size: 10px;
  color: #484a4c;
  margin-top: 10px;
  margin-bottom 10px;
  margin: auto; /* note9: placed the caption right next under the image */
  background-color: #6d7a87; /* note10: added a background */
  display: inline; /* note11: made the background fit the text 8 */ 

}
img{
  width: 95%; /* note8: adjusted the witdth of the photo */
  padding-left: 20px; /* note4: added left padding */
  padding-right: 30px; /* note5: added left padding */
}
h1{
  font-size: 40px; /* note2: changed font sice */
  font-family: arial; /* note1: added different font */
  padding-bottom: 10px; /* note6: added padding to the bottom*/
  border-bottom: 2px solid #384b61; /* note7: added border */
}
a{
  color: #353a40; /* note3: changed link color */
}
}
