.container {
  background-color: #8c9cac;
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  padding: 20px;
  box-shadow: 2px 4px 10px 4px #91a6cc; /* Note12: added a lil shadow effect */
}
@media(min-width: 500px) {
.left-column{
  float: left;
  width: 25%;
  padding-right: 0px;
  border: 3px solid #6d7a87; /* note15: added a border */
  max-width: 150px; /* note14: made the width set to close the gap */
}
.right-column{
    width: 75%;
    float: right;
    padding-left: 20px;
  }
body {
  background-color: #6d7a87;
}
.left-column p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  color: #303031; /* note13: changed text color */

}
.author{
  font-size: 17px;
  font-weight: bold;
}
.left-column p:nth-child(2){
  font-style: italic;

}
.caption {
  font-size: 10px;
  color: #303031;
  margin-top: 10px;
  font-family: arial; /* note9: added a background */
  background-color: #91a6cc; /* note10: added a background */
  margin-left: 20px; /* note 12: lined up the caption to the pic better*/
  display: inline; /* note11: made the background fit the text 8 */
}
img{
  width: 95%; /* note8: adjusted the witdth of the photo */
  padding-left: 20px; /* note4: added left padding */
  padding-right: 30px; /* note5: added left padding */
  padding-bottom: 10px;
}
h1{
  font-size: 40px; /* note2: changed font sice */
  font-family: arial; /* note1: added different font */
  padding-bottom: 20px; /* note6: added padding to the bottom*/
  border-bottom: 2px solid #91a6cc; /* note7: added border */
  color: #666; /* note16: changed color of text */
  letter-spacing: 3px; /* note17: added spacing */
}
a{
  color: #353a40; /* note3: changed link color */
}
}
