.container {
  background-color: #8c9cac;
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
}
@media(min-width: 550px) {
.left-column{
  float: left;
  width: 25%
}
.right-column{
    width: 75%;
    float: right;
  }
body {
  background-color: #6d7a87;
}
.left-column p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}
.author{
  font-size: 17px;
  font-weight: bold;
}
.left-column p:nth-child(2){
  font-style: italic;
}
.caption {
  font-size: 10px;
  color: #777;
  margin-top: 10px;
  margin-bottom 10px;
}
}
